@font-face {
    font-family: Chana;
    src: url(/Fonts/chaney-ultraextended-webfont.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(250,195,8);
  animation: pulse 3s;
  z-index: 9;
}

.zoom {
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 13vw;
  -webkit-text-stroke-width: 0.09vh;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  outline: none;
  transform: rotate(-7deg) translate(-50%, -50%);
  opacity: 0.89;
  font-family: Chana ;
  /* font-family: ProductSans; */
  font-weight: 200;
}

.loader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(-7deg) translate(-50%, -50%);
  /* outline: 1px solid #fff; */
  font-family: Chana;
  font-size: 5vw;
  padding: 2vw;
  /* transform: rotate(-5deg) ; */
  color: #fff;
}

.Loading {
  bottom: -65%;
  left: 50%;
  transform: rotate(-7deg) translate(-50%, 0%);
  position: relative;
  display: inline-block;
  width: 50%;
  height: 10px;
  background: #f1f1f1;
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, .2); */
  border-radius: 4px;
  overflow: hidden;
}

.Loading:after {
    content: "";
    position: absolute;
    bottom: 10%;
    /* width: 100%; */
    height: 100%;
    border-radius: 4px;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, .2); */
    animation: load 3s;
  }
  

@keyframes load {
  0% {
    width: 0;
    background: #a28089;
  }

  25% {
    width: 25%;
    background: #a0d2eb;
  }

  50% {
    width: 50%;
    background: #d0bdf4;

    /* background: #ffa8b6; */
  }

  75% {
    width: 75%;
    background: #d2d2d2;
    /* background: rgb(250, 195, 8); */
  }

  100% {
    width: 100%;
    /* background: #d0bdf4; */
    /* background: #ffa8b6; */

    background: rgb(250,195,8);
  }
}

@keyframes pulse {
  0% {
    background: #a28089;
  }

  25% {
    background: #a0d2eb;
  }

  50% {
    background: #d0bdf4;
    /* background: #ffa8b6; */
  }

  75% {
    /* background: #c2c2c2; */
    /* background: #d0bdf4; */
    background: #d2d2d2;
    /* background: rgb(250, 195, 8); */
  }

  100% {
    /* background: #ffa8b6; */
    /* background: #c2c2c2; */
    background: rgb(250, 195, 8);
  }
}